HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### QueryDSL 자동생성 파일 ignore 필요시 삭제해 주시면 됩니다. ###
/src/main/generated/com/sparta/meme_nameking/entity/QComment.java
/src/main/generated/com/sparta/meme_nameking/entity/QCommentDdabong.java
/src/main/generated/com/sparta/meme_nameking/entity/QPost.java
/src/main/generated/com/sparta/meme_nameking/entity/QPostDdabong.java
/src/main/generated/com/sparta/meme_nameking/entity/QTimestamped.java
/src/main/generated/com/sparta/meme_nameking/entity/QUser.java
